
<h1 class="text-center">Log In</h1>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput formControlName="email"
    id="email">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput formControlName="password"
    id="password">
  </mat-form-field>

  <button mat-raised-button type="submit">Login</button>
</form>

<div class = "text-center">Don't have an account? <a>Sign Up</a></div>
