<div class="newFormContainer">
  <form [formGroup]="extractionService.extractionForm" (ngSubmit)="extractionService.onSubmitExtractionForm()">
    <h1>Extraction Form</h1>
    <div class="formSection">
      <mat-form-field>
        <mat-label>Date:</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="date" />
        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Plant:</mat-label>
        <input matInput placeholder="Plant" formControlName="plant" />
      </mat-form-field>
    </div>

    <div class="formSection">
      <mat-form-field>
        <mat-label>Product:</mat-label>
        <input matInput placeholder="Product" formControlName="product" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Campaign:</mat-label>
        <input matInput placeholder="Campaign" formControlName="campaign" />
      </mat-form-field>
    </div>

    <div class="formSection">
      <mat-form-field>
        <mat-label>Stage:</mat-label>
        <input matInput placeholder="Stage" formControlName="stage" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Tank:</mat-label>
        <input matInput placeholder="Tank" formControlName="tank" />
      </mat-form-field>
    </div>

    <div class="formSection">
      <mat-form-field>
        <mat-label>Concentration:</mat-label>
        <input matInput placeholder="Concentration" formControlName="concentration" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Volume:</mat-label>
        <input matInput placeholder="Volume" formControlName="volume" />
      </mat-form-field>
    </div>

    <div class="formSection">
      <mat-form-field>
        <mat-label>Weight:</mat-label>
        <input matInput placeholder="Weight" formControlName="weight" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Level Indicator:</mat-label>
        <input matInput placeholder="Level Indicator" formControlName="level" />
      </mat-form-field>
    </div>

    <div class="formSection">
      <mat-form-field>
        <mat-label>PH Level:</mat-label>
        <input matInput placeholder="PH Level" formControlName="ph" />
      </mat-form-field>

      <div class="extractionFormButtons">
        <button mat-raised-button color="primary" type="submit" class="submitButton">
          {{ extractionService.newExtractionSelected ? "Update Extraction" : "Create Extraction" }}
        </button>

        <button mat-raised-button color="primary" type="button" (click)="onCancel()">Cancel</button>

      </div>
    </div>
  </form>
</div>