<button *ngIf="!extractionService.newExtractionSelected"(click)="extractionService.newExtractionSelected = true">Create New Extraction</button>

<div class="newFormContainer">
  <form *ngIf="extractionService.newExtractionSelected" [formGroup] = "extractionService.extractionForm" (ngSubmit)="extractionService.onSubmitExtractionForm()">
    <label>Date:</label>
    <input type="date" formControlName="date">

    <label>Plant:</label>
    <input type="text" formControlName="plant">

    <label>Product:</label>
    <input type="text" formControlName="product">

    <label>Campaign:</label>
    <input type="text" formControlName="campaign">

    <label>Stage:</label>
    <input type="text" formControlName="stage">

    <label>Tank:</label>
    <input type="text" formControlName="tank">

    <label>Concentration:</label>
    <input type="text" formControlName="concentration">

    <label>Volume:</label>
    <input type="text" formControlName="volume">

    <label>Weight:</label>
    <input type="text" formControlName="weight">

    <label>Level Indicator:</label>
    <input type="text" formControlName="level">

    <label>PH Level:</label>
    <input type="text" formControlName="ph">

    <button type="submit">
      {{ extractionService.newExtractionSelected ? 'Update Extraction' : 'Create Extraction' }}
    </button>

  </form>
</div>

<div >
  <table>
    <tr>
      <th>Date</th>
      <th>Plant</th>
      <th>Product</th>
      <th>Campaign</th>
      <th>Stage</th>
      <th>Tank</th>
      <th>Concentration</th>
      <th>Volume</th>
      <th>Weight</th>
      <th>Level Indicator</th>
      <th>PH Level</th>
    </tr>
    <tr *ngFor="let extraction of extractionService.extractions">
  <td>{{ extraction.date }}</td>
  <td>{{ extraction.plant }}</td>
  <td>{{ extraction.product }}</td>
  <td>{{ extraction.campaign }}</td>
  <td>{{ extraction.stage }}</td>
  <td>{{ extraction.tank }}</td>
  <td>{{ extraction.concentration }}</td>
  <td>{{ extraction.volume }}</td>
  <td>{{ extraction.weight }}</td>
  <td>{{ extraction.level }}</td>
  <td>{{ extraction.ph }}</td>
  <td>
    <button (click)="extractionService.onSelectExtraction(extraction.id)">Edit</button>
  </td>
  <td>
    <button (click)="extractionService.onDeleteExtraction(extraction.id)">Delete</button>
  </td>
</tr>

  </table>

</div>
