.text-center{
  display: flex;
  justify-content: center;
  padding-top: 6em;
}

.signUpContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.formSection, .signUpButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.formSection2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

mat-form-field{
  margin: 3px;
  width: 225px;

}


.submitButton {
  justify-self: center;
}

.text-center2{
  display: flex;
  justify-content: center;
  padding-top: 1em;
}

.emailField {
  width:100%
}
