<div class="tableContainer" *ngIf="userService.userDepartment() == 'extraction' || userService.userRole() == 'manager'">
  <p>*You can sort by <strong>Date, Plant, Product, or Campaign</strong> by clicking on the corresponding header.</p>
  <table>

    <tr>
      <th class="tableHeader" (click)="sortTable('date')">Date</th>
      <th class="tableHeader" (click)="sortTable('plant')">Plant</th>
      <th class="tableHeader" (click)="sortTable('product')">Product</th>
      <th class="tableHeader" (click)="sortTable('campaign')">Campaign</th>
      <th class="tableHeader">Stage</th>
      <th class="tableHeader">Tank</th>
      <th class="tableHeader">Concentration(g/l)</th>
      <th class="tableHeader">Volume(gal)</th>
      <th class="tableHeader">Weight(kg)</th>
      <th class="tableHeader">Level Indicator</th>
      <th class="tableHeader">PH Level</th>
      <div class="newExtractionButton">

        <button mat-icon-button color="primary"
          (click)="extractionService.openDialog(); extractionService.newExtractionSelected=true">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </tr>
    <tr *ngFor="let extraction of extractionService.extractions">

      <td class="tableContents">{{ extraction.date | date:'longDate'}}</td>
      <td class="tableContents">{{ extraction.plant }}</td>
      <td class="tableContents">{{ extraction.product }}</td>
      <td class="tableContents">{{ extraction.campaign }}</td>
      <td class="tableContents">{{ extraction.stage }}</td>
      <td class="tableContents">{{ extraction.tank }}</td>
      <td class="tableContents">{{ extraction.concentration | number}}</td>
      <td class="tableContents">{{ extraction.volume | number}}</td>
      <td class="tableContents">{{ extraction.weight | number}}</td>
      <td class="tableContents">{{ extraction.level | number}}%</td>
      <td class="tableContents">{{ extraction.ph | number}}</td>
      <td class="icons">
        <button mat-icon-button color="primary"
          (click)="extractionService.selectedExtractionId = extraction.id; extractionService.onSelectExtraction(extraction.id); extractionService.openDialog(); ">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button color="primary" *ngIf="userService.userRole() == 'manager'"
          (click)="extractionService.onDeleteExtraction(extraction.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>

    </tr>
  </table>
</div>